<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<div class="login-page">
  <div class="form">
    <h1>Welcome, <%= username %> Back To the Suite...</h1>
    <a href="/story/1">Story 1</a>
    <a href="/story/2">Story 2</a>
    <a href="/story/3">Story 3</a>
    <p><a href="/statement"> Download Your Bank Statement </a></p>
    <p><a href="/logout">Logout</a></p>
  </div>
</div>